<link rel="stylesheet" type="text/css" href="/css/customerProducts.css">

<div class="container">
    <h2 class="titles">Products</h2>
    
    <div class="products-container">
        {{#each payload}}
            <div class="product">
                <img class="thumbnails" alt="Imagen del producto" src="{{thumbnails}}">
                <h2>{{title}}</h2>
                <p class="description">{{description}}</p>
                <p class="price">Precio: ${{price}}</p>
                <p class="stock">Stock:{{stock}}</p>
                <div class="container-button">
                    <button id="increment-{{_id}}">+</button>
                    <p class="count" id="count-{{_id}}" max="{{stock}}">1</p>
                    <button id="decrement-{{_id}}">-</button>
                </div>
                <button class="add-to-cart" _id="{{_id}}">Añadir al carrito</button>
            </div>
        {{/each}}
    </div>
    <div class="pagination-container">
        <a href="http://localhost:8080/">Start</a>
        {{#if hasPrevPage}}
            <a class="pagination prev" href="{{prevLink}}"> < </a>
        {{/if}}
        {{#each arrayPage}}
            <a href="?page={{this}}">{{this}}</a>
        {{/each}}
        {{#if hasNextPage}}
            <a class="pagination prev" href="{{nextLink}}"> > </a>
        {{/if}}
        <a href="http://localhost:8080/?page={{totalPages}}">End</a>
    </div>
</div>

<script type="module" src="/js/home.js"></script>